#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  --color-text-base: #0f0e0e;
  --color-active: #007aff;
  --color-inactive: #000;
  --color-transparent: transparent;
}

  /* CSS Reset */
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Esto asegura que las fuentes y otros estilos sean consistentes */
  body {
    font-family: 'Arial', sans-serif; /* Puedes cambiar esto a la fuente que prefieras */
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Asegura que los elementos de contenedor tengan el ancho completo */
  html, body, #root {
    height: 100%;
    width: 100%;
  }

.pink-bg {
  background-color: #ff69b4; /* Ejemplo de estilo personalizado */
  color: #ffffff;
}

.uppercase {
  text-transform: uppercase;
}

.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.color-white{
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.custom-card{
  width: 300px;
  max-width: 350px;
  height: 450px;
}

.custom-card2{
  width: 400px;
  max-width: 350px;
  height: 600;
}
.flex-row{
  display: flex;
  /* justify-content: center; */
  align-items: start;
}


/* flex: 1;
padding: 10px 15px;
cursor: pointer;
background: none;
border: none;
border-bottom: 3px solid transparent;
font-size: 14px;
color: ${({ isActive }) => (isActive ? '#007aff' : '#000')};
border-bottom-color: ${({ isActive }) => (isActive ? '#007aff' : 'transparent')};
&:hover {
  background-color: #e0e0e0;
} */


.new-tab{
  flex: 1;
  height: 60px;
  padding: 10px 15px;
  cursor: pointer;
  background: none;
  font-size: 14px;
  background: white;
  color: black;
  border-radius: 16px; 

  &.active {
  color: white;
    background: rgb(55, 128, 0);
}}