#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

  /* CSS Reset */
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Esto asegura que las fuentes y otros estilos sean consistentes */
  body {
    font-family: 'Arial', sans-serif; /* Puedes cambiar esto a la fuente que prefieras */
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Asegura que los elementos de contenedor tengan el ancho completo */
  html, body, #root {
    height: 100%;
    width: 100%;
  }

.pink-bg {
  background-color: #ff69b4; /* Ejemplo de estilo personalizado */
  color: #ffffff;
}

.uppercase {
  text-transform: uppercase;
}

.flex-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.color-white{
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.custom-card{
  width: 300px;
  max-width: 350px;
  height: 450px;
}

.custom-card2{
  width: 400px;
  max-width: 350px;
  height: 600;
}
.flex-row{
  display: flex;
  /* justify-content: center; */
  align-items: start;
}
